.quote{
    box-sizing: border-box;
    display: flex;
    text-align: center;
    flex-direction: column;
    gap:24px;
    background: rgba(255,255, 255, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 24px;
    padding: 80px; 
    margin: 40px 0;
}

.quote h2{
    font: var(--headline5);
    text-align: center;
}

.quote p{
    font: var(--headline5);
    text-align: center;
    opacity: .5;
}

.quote img {
    width: 80px;
    height: 80px;
    align-self: center;
}

@media screen and (min-width:768px){
    .quote{
        text-align:center;
        margin: 40px 0;
    }
    .quote p{
        font: var(--body1);
        margin: auto;
        max-width: 600px;
    }
    .quote h2{
        font: var(--caption)
    }
    .quote img{
        width: 64px;
        height: 64px;
    }
}

@media screen and (min-width:1024px){
    .quote{
        padding: 40px;
        text-align: center;
        margin: 80px 0;
        max-width: 1132px;
    }
    .quote p{
        font: var(--body1);
        margin: auto;
        max-width: 760px;
    }
    .quote h2{
        font: var(--headline5);
    }
    .quote img{
        width: 80px;
        height: 80px;
    }
}